<!DOCTYPE html>
<html>

<head>
	<title>My Web Page</title>
	<base href="/">
	<link rel="stylesheet" type="text/css" href="CSS/professor.css" />
	<script src="../page.js"></script>
</head>

<body>

	<form action="welcome/{{professorId}}/createSubject" method="POST">
		<input type="hidden" name="professorId" value="{{ professor.id }}">
		<label for="subjectName">Subject Name:</label>
		<input type="text" id="subjectName" name="name" required>
		<button type="submit">Create Subject</button>
	</form>


	<h1>Welcome, {{ name }}</h1>

	<h2>Your Subjects:</h2>
	<ul>
		{{#each subjects}}
		<li>
		<a href="/subject/{{ this.subject_id }}">{{ this.name }}</a>
		<form action="welcome/{{professor_id}}/deleteSubject/{{this.subject_id}}" method="POST" style="display:inline;">
			<button type="submit">Delete</button>
		</form>
		</li>
		{{/each}}
	</ul>
</body>

</html>