<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="CSS/professor.css" />
</head>

<body>
    <div class="wrapper">
        {{> sidebar dashboardLink="#" coursesText="Class Schedule" scheduleText="Setting" examsText=""}}
        <div class="main-content">


            <h1 id="welcome">Hi {{name}}</h1>

            <section class="new-subject">
                <header><h2 id="subjectHeader">Create a new subject</h2></header>
                <form action="welcome/{{professorId}}/createSubject" method="POST" class="input-group">
                    <input type="hidden" name="professorId" value="{{ professor.id }}">
                    <input type="text" name="name" placeholder="Enter subject name" required>
                    <button type="submit" id="createSubjectButton"><span>Create Now<span/></button>
                </form>
            </section>

<!--            <section class="new-subject">-->
<!--                <header><h2 id="subjectHeader">Search for a subject</h2></header>-->
<!--                <form action="/welcome/{{professorId}}/search" method="GET" class="input-group">-->
<!--                    <input type="text" name="term" placeholder="Enter subject name">-->
<!--                    <button type="submit" id="createSubjectButton"><span>Search</span></button>-->
<!--                </form>-->
<!--            </section>-->

            <!-- subjects List -->
            <section class="subjects-list">
                <header><h2 id="subjectHeader">Your Subjects</h2></header>

                {{#each subjects}}
                <div class="subject-card">
                    <a href="welcome/{{this.professor_id}}/subject/{{this.subject_id}}">
                        <button type="button" class="subject_name"><span>{{this.name}}</span></button>
                    </a>
                    <!-- delete  -->
                    <form action="welcome/{{professor_id}}/deleteSubject/{{this.subject_id}}" method="POST">
                        <button class="noselect delete-btn"><span class="text">Delete</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>
                    </form>
                </div>
                {{/each}}

            </section>
        </div>
    </div>
</body>

</html>