<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="CSS/professor.css" />
    <script src="../page.js"></script>
</head>

<body>



<div class="wrapper">
        <!-- sidebar -->
        <nav class="sidebar">
            <div class="sidebar-menu">
                <div class="logo">STUMA</div>
                <ul class="menu-items">
                    <li><a href="#">Dashboard</a></li>                   
                    <li><a href="#">Slides</a></li>
                    <li><a href="#">Student Search</a></li>
                    <li><a href="#">Attendance</a></li>
                    <li><a href="#">Setting</a></li>
					
                </ul>
                <div class="logout-section">
    <a href="/logout" class="logout-button">Logout</a>
</div>
            </div>
        </nav>

<!-- main content -->  
        <div class="main-content">
            <!-- header -->
            <header class="header">
                <h1>Hi {{name}}, Good Afternoon!</h1>
                <div class="search-bar">
                    <input type="text" placeholder="Search">
                    <button>🔍</button>
                </div>
                <div class="user-profile">
                    <img src="https://via.placeholder.com/150" alt="Profile">
                    <span> {{name}}</span>
                </div>
            </header>
            
            <!-- new subject -->        

<section class="new-subject">
    <h2>Create a new subject</h2>
    <form action="welcome/{{professorId}}/createSubject" method="POST" class="input-group">
        <input type="hidden" name="professorId" value="{{ professor.id }}">
        <input type="text" name="name" placeholder="Enter subject name" required>
        <button type="submit">Create Now</button>
    </form>
</section>



<!-- subjects List -->
<section class="subjects-list">
    <h2>Your Subjects</h2>
    {{#each subjects}}
    <div class="subject-card">
        
        <a href="/subject/{{this.subject_id}}">
            <span>{{this.name}}</span>
        </a>
        <!-- delete  -->  
        <form action="welcome/{{professor_id}}/deleteSubject/{{this.subject_id}}" method="POST">
            <button type="submit" class="delete-btn">Delete</button>
        </form>
    </div>
    {{/each}}
</section>


        </div>
    </div>
</body>
</html>
   
