<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject Description - Mathematics</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="CSS/student.css" />
</head>

<body>
    <div class="wrapper">
        {{> sidebar coursesText="My Courses" scheduleText="" examsText=""}}
        <div class="main-content">

            <section class="new-subject">
                <header><h2 id="subjectHeader">Search for a subject</h2></header>
                <form action="/welcome/{{studentId}}/search" method="GET" class="input-group">
                    <input type="text" name="term" placeholder="Enter subject name">
                    <button type="submit" id="searchSubjectButton"><span>Search</span></button>
                </form>
            </section>

            <section class="enrolled-courses">
                <h2>Enrolled Courses</h2>
                <ul>
                    {{#each enrolledCourses}}
                    <p>{{this.Id}}</p>
                    <a href="/welcome/{{this.student_id}}/subject/{{ this.subject_id }}">
                        <button type="submit" id="searchSubjectButton"><span>{{name}}</span></button>
                    </a>
                    {{/each}}
                </ul>
            </section>


            <section class="available-courses">
                <h2>Available Courses</h2>
                <ul>
                    {{#each availableCourses}}
                    <li>
                        <span>{{name}}</span>
                        <form action="/enroll/{{subject_id}}" method="POST">
                            <button type="submit" class="enroll-btn">Enroll</button>
                        </form>
                    </li>
                    {{/each}}
                </ul>
            </section>
        </div>
    </div>
</body>

</html>