<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="CSS/student.css"/>
</head>

<body>
<div class="wrapper">
    {{> sidebar dashboardLink="#" coursesText="Class Schedule" scheduleText="Setting" examsText=""}}
    <div class="main-content">
        <!-- other content specific to this page -->

        <section class="enrolled-courses">
            <h2>Enrolled Courses</h2>
            <ul>
                {{#each enrolledCourses}}
                    <p>{{this.Id}}</p>
                    <a href="/welcome/{{this.student_id}}/subject/{{ this.subject_id }}">
                        <button type="submit" id="searchSubjectButton"><span>{{name}}</span></button>
                    </a>
                {{/each}}
            </ul>
        </section>


        <section class="available-courses">
            <h2>Available Courses</h2>
            <ul>
                {{#each availableCourses}}
                    <li>
                        <span>{{name}}</span>
                        <form action="/enroll/{{subject_id}}" method="POST">
                            <button type="submit" class="enroll-btn">Enroll</button>
                        </form>
                    </li>
                {{/each}}
            </ul>
        </section>

    </div>
</div>
</body>

</html>