<nav class="sidebar">
    <div class="logo">STUMA</div>
    <ul class="menu-items">
        <li><a href="{{dashboardLink}}">Dashboard</a></li>
        <li><a href="{{coursesLink}}">{{coursesText}}</a></li>
        <li>{{scheduleText}}</li>
        <li>{{examsText}}</li>
    </ul>
    <div class="logout-section">
        <a href="/logout" class="logout-button">Logout</a>
    </div>
</nav>